
.titleCard {
  left: 350px;
  top:700px;
  height: 500px;
  position: relative;
}

.dataTable{
  top:700px;
  height: 300px;
  border: 1px solid rgba(34,36,38,.15);
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.OrderDetail{
  border: 1px solid rgba(34,36,38,.15);
}

@media only screen and (max-width: 1200px){
.RestTable{
  border: 1px solid rgba(34,36,38,.15);
}
}